{% extends 'hospital_base.html' %}
{% load static %}
{% block title %} Books Details {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<style>
    .container{
        font-size: large;
    }
</style>
{% endblock %}
{% block hospital %}

    <div class="container">
        {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="form-group alert alert-success" role="alert">
            {% else %}
                <div class="form-group alert alert-danger" role="alert">
            {% endif %}
                <div>
                    {{message}}
                </div>
            </div>
            {% endfor %}
    {% endif %}

    <div class="container h-50 mt-5">
        <div class="d-flex justify-content-center h-100">
          <div class="searchbar">
            <input id="books_search" class="search_input" type="text" placeholder="Search by date...">
            <a href="#" class="search_icon" id="search_icon"><i class="fas fa-search"></i></a>
          </div>
        </div>
    </div>

        <div class="mt-5">
            <h4 class="mb-4 text-secondary">
                <i class="fa fa-calendar-plus-o"></i>
                Add books:
            </h4>
        
            <hr/>
        <form method="POST">
        {% csrf_token %}

        <div class="form-row">
            <div class="col form-group">
                <label>Start Time:</label>
                 
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" name="start"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
                
                </div>
            </div> 
            <div class="col form-group">
                <label>End Time:</label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" name="end"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div> 
            </div> 
            
        </div>
        <div class="form-group">
            <label>Fees:</label>
            <div class="input-group" data-target-input="nearest">
                <input type="text" class="form-control" name="fees"/>
            </div>
            
        </div>
        <div class="form-group">
            <label>Waiting Time:</label>
            <div class="input-group"  data-target-input="nearest">
                <input type="text" class="form-control" name="wating"/>
            </div>
        </div>
        <div class="form-group">
            <label>Doctor:</label>
            <div class="input-group"  data-target-input="nearest">
                <input type="text" class="form-control" name="doctor"/>
            </div>
        </div>
        <div class="form-group">
            <label>Specializaiton:</label>
            <div class="dropdown">
                <select class="form-control" name="choose">
                    <option>.......</option>
                    {% for speciality in specializations %}
                    <option value="{{ speciality.id }}">{{ speciality.name }}</option>
                    {% endfor %}                    
                </select>
            </div>
        </div>
          
        
        <div class="text-center mt-3 mb-5">
            <button type="submit" class="btn btn-dark btn-block"> Add book</button>
        </div>   
    </form>

</div>
<hr/>
<div id="replace-content">
    {% include 'hos_book_partial.html' %}
</div>
</div>

{% endblock %}

{% block footer %}

<script>
    $(function () {
      $("#datetimepicker1").datetimepicker({
          format: "YYYY-MM-DD HH:MM"
      });
      $("#datetimepicker2").datetimepicker({
        format: "YYYY-MM-DD HH:MM"
      });

    });

    $(document).on('click', '.confirm-delete', function(){
    return confirm('Are you sure you want to delete this book?');
})
  </script>
<script type="text/javascript" src="{% static '/javascript/ajax.js' %}"></script>
{% endblock %}
