{% extends 'base.html' %}
{% load static %}

{% block title %} Hospitals {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}
{% block content %}    
    <section class="banner py-4 " >
        <div class="container py-5 my-4">
            <div class="pb-5">
                <div class="row text-center pb-3">
                    <div class="col-md-12 mt-4 pb-1">
                        <h1 class="fonts">Best hospitals where your health comes first</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>  
                        <div class="container h-50">
                            <div class="d-flex justify-content-center h-100">
                              <div class="searchbar">
                                <input id="hospitals-search" class="search_input" type="text" placeholder="Search by name...">
                                <div class="search_icon" id="h-search-icon"><i class="fas fa-search"></i></div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="sperator"></div>
    <div id="h-replaceable-content">
        {% include 'hospitals-partial.html' %}
    </div>

{% endblock %}


{% block footer %}
    <script type="text/javascript" src="{% static '/javascript/ajax.js' %}"></script>
{% endblock %} 