{% if speciality %}
<div>
    <h4 class="mt-5 text-secondary">
        <i class="fa fa-stethoscope"></i>
            All specializations:
    </h4>
    <hr/>
        {% for specialize in speciality %}
            <div class="row mt-4">
                <div class="col-8 edit_specialize">{{ specialize.name }}</div>
                <div class="col-4">
                    <button class="btn btn-primary update_btn">
                    <i class="fa fa-edit"></i></button>
                    <button class="btn btn-primary save_btn" url={% url "edit_specialize" specialize.id %} style="display:none">
                        Save</button>
                    <a type="button" class="btn btn-danger delete" href="{% url 'delete_specialize' specialize.id %}"  title="delete specialize">
                        <i class="fa fa-trash"></i></a>
                </div>
            </div>
            {% endfor %}
</div>
{% else %}
    <div class="m-5">
        <h6 class="text-secondary "> search results:</h6>
        <h4 class="mb-5">No results found..</h4>
    </div>
{% endif %}