{% if books %}
<div id="all" style="display: block;">
{% for book in books %}
    <div class="card mt-4 mb-4">
        <div class="card-header bg-dark text-white">
            <div class="row">
                <div class="col-9">
                    Reservation Details
                </div>
                {% for c in count%}
                {% if c.id == book.id%}
                <div class="col-3 text-danger">
                   <strong>Upcoming</strong> 
                </div>
                {% endif %}
                {%endfor%}
            </div>
        </div>

        <div class="card-body">
            <div>
                <i class="fa fa-clock-o	text-danger"></i>&nbsp;
                <span>Start Date: {{book.book.start_time}}</span> 
            </div>
            <div>
                <i class="fa fa-clock-o	text-danger"></i>&nbsp;
                <span>End Date: {{book.book.end_time}}</span> 
            </div>
            <div>
                <i class="fa fa-bed	text-danger"></i>&nbsp;
                <span>Patient Name: {{book.user.first_name|title}}&nbsp;{{book.user.last_name|title}}</span> 
            </div>
            <div>
                <i class="fa fa-intersex text-danger"></i>&nbsp;
                <span>Patient Gender: {{book.user.gender}}</span> 
            </div>
            <div>
                <i class="fa fa-phone text-danger"></i>&nbsp;
                <span>Contact with Patient: {{book.user.phone|default_if_none:"N/A"}}</span> 
            </div>
    
    
        </div>

    </div>

{% endfor%}
</div>

{% endif %}