{% if hospitals|length != 0%}

    <div class="row m-5">
        <!-- for filters -->
        <div class="col-3">
            <div class="card rounded sticky-top">
                <div class="card-header text-white bg-dark">
                    <i class="fa fa-filter "></i>  Filter
                </div>
                <div class="card-body">
                    <a href="{% url 'hospitals' %}" class="btn btn-primary btn-block">All</a>
                    <hr/>
                    <a href="/hospitals/location" class="btn btn-primary btn-block">Location</a>
                </div>
                <div class="card-footer bg-dark">
                </div>
            </div>
            
        </div>
        <!-- for hospitals -->
        <div class="col-9">
            <h5>All Hospitals</h5>
            <hr/>
            {% for hospital in hospitals %}
            <div class="card rounded mb-3">
                <div class="card-body row">
                    <div class="col-3 text-center">
                        <img src="/media/{{hospital.image}}" class="rounded" width="100%" height="170px"/>
                        <a role="button" class="btn btn-dark mt-3 w-100" href="/hospitals/h/{{hospital.id}}">More Details</a> 
                    </div>
                    <div class="col-9">
                        <a class="text-secondary h4 mb-2" href="/hospitals/h/{{hospital.id}}">{{hospital.name|title}}</a>
                        <p>
                            {% if hospital.avg_rate %}
                            {% for i in '12345'%}
                                {% if i|add:0 <=  hospital.avg_rate %} 
                                    <span class="fa fa-star text-warning"></span>
                                {% else %}
                                    <span class="fa fa-star"></span>
                                {% endif %}
                            {% endfor %}  
                            {% endif %}
                        </p>
                        <p> <i class="fa fa-map-marker text-danger"></i> &nbsp;{{hospital.location}}</p>
                        <p> <i class="fa fa-phone text-danger"></i> &nbsp;{{hospital.phone}}</p>
                        <p> <i class="fa fa-stethoscope	text-danger"></i> &nbsp;Available Specilizations:</p>
                        <ul>
                        {% for special in hospital.specializaiton_set.all %}
                        <li>{{special.name| title}}</li>
                        {%endfor%}
                        </ul>

                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>
   
        {% if hospitals.has_other_pages %}
        <div class="d-flex justify-content-center">    

            <ul class="pagination">
                    {% if hospitals.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ hospitals.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                    {% endif %}

                    {% for i in hospitals.paginator.page_range %}
                        {% if users.number == i %}
                            <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if users.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ hospitals.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                    {% endif %}
                </ul>

        </div>
        {% endif %}


    {% else %}

    <div class="m-5">
        <h6 class="text-secondary "> search results:</h6>
        <h4 class="mb-5">No results found..</h4>
    </div>

{% endif%}
