{% extends 'base.html' %}
{% load static %}
{% block title %} Doctors {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<style>
  .card {
  box-shadow: 1px 3px 3px 1px hsla(0, 0%, 22%, 0.253) !important;  
  }
</style>
{% endblock %}

{% block content %}
<section class="banner py-4 " >
  <div class="container py-5 my-4">
      <div class="pb-5">
          <div class="row text-center pb-3">
              <div class="col-md-12 mt-4 pb-1">
                  <h1 class="fonts">Best doctors where your health comes first</h1>
                  <p>We are caring about you and with us no worries, if you need a doctor you will find the most professional doctors with us</p>  
                  <div class="container h-50">
                      <div class="d-flex justify-content-center h-100">
                        <div class="searchbar">
                          <input id="doctors-search" class="search_input" type="text" placeholder="Search by name...">
                          <a href="#" class="search_icon" id="d-search-icon"><i class="fas fa-search"></i></a>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="sperator"></div>

    <div id="d-replaceable-content">
      {% include 'doctors-partial.html' %}
    </div>

{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static '/javascript/d-ajax.js' %}"></script>
{% endblock %} 