{% extends 'doc_base.html' %}
{% block title %} Clinc Information {% endblock %}
{% block styles %}
{% endblock %}
{% block content %}

<div class="mt-4 ml-4">
    {% if messages %}
        {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success m-2">{{message}} </div>
            {% elif 'info' in message.tags %}
                <div class="alert alert-info m-2">{{message}} </div>
            {% else %}
                <div class="alert alert-danger m-2">{{message}} </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h3>
        Clinic Information
        {% if clinic_info %}
        <a href="/doctors/doctor/{{clinic_info.id}}" class="float-right btn btn-danger px-2 pb-0"><p style="font-size: small; margin-bottom: 6px;">Clinic Page</p></a>
        {% endif %}
    </h3>
    <hr/>
    <form method="POST"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="col form-group">
                <label>First Name</label>
                {{form.first_name}}
            </div> 
            <div class="col form-group">
                <label>Last Name</label>
                {{form.last_name}}
            </div> 
        </div>

        <div class="form-group">
            <label>Specialization</label>
            {{form.specialization}}
        </div>
        <div class="form-group">
            <label>Clinc Address</label>
            {{form.clinic_address}}
        </div>
        <div class="form-group">
            <label>Clinc Phone</label>
            {{form.phone}}
        </div>

        <div class="form-group">
            <label>Bio</label>
            {{form.bio}}
        </div>

        <div class="form-row">
            <div class="col form-group">
                <label>Fees </label>
                {{form.fees}}
            </div> 
            <div class="col form-group">
                <label>Waiting Time</label>
                {{form.waiting_time}}
            </div> 
        </div>

        <hr/>
        <div class="form-group mb-4">
            <label><strong>
                <i class="fa fa-user-md"></i>
                Upload Your Image:
            </strong></label>
             &nbsp; &nbsp; &nbsp;
            {{form.image}}
        </div>

        <small class="text-info">Note: This informations is what our visitors see.</small>      
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-dark btn-block"> Update your clinc info  </button>
        </div>   
    </form>

    {% if form.errors %}
    <div class="form-group alert alert-danger" role="alert">
        {% for field in form %}
        {% for error in field.errors %}
            <div>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endfor %}
    </div>
      {%endif%}


</div>

{% endblock %}
