{% extends 'base.html' %}
{% load static %}
{% block title %} Doctor {{ doctor.first_name |add:" "|add:doctor.last_name }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static '/css/rating.css' %}">
<style>
    .card {
    box-shadow: 1px 3px 3px 1px hsla(0, 0%, 22%, 0.253) !important;  
    }
</style>
{% endblock %}
{% block content %}

{% if messages %}
{% for message in messages %}
    {% if 'success' in message.tags %}
    <div class="alert alert-success m-2">{{message}} </div>
    {% elif 'info' in message.tags %}
    <div class="alert alert-info m-2">{{message}} </div>
    {% else %}
    <div class="alert alert-danger m-2">{{message}} </div>
    {% endif %}
{% endfor %}
{% endif %}

<div class="container col-12">
    <div class="row m-5">
        <div class="col-7">
            <div class="row">
                <div class="col-3">
                    <img src="/media/{{doctor.image}}" class="rounded" width="100%" height="180px">
                </div>
                <div class="col-md mx-3">
                    <span><strong class="text-info">Doctor </strong>{{ doctor.first_name |add:" "|add:doctor.last_name }}</span>
                    <div>{{ doctor.specialization }}</div>
                    <div>
                        {% if doctor.avg_rating %}
                        {% for i in rating%}
                        {% if i|add:0 <=  doctor.avg_rating %} 
                            <span class="fa fa-star text-warning"></span>
                        {%else%}
                            <span class="fa fa-star"></span>
                        {% endif %}
                        {% endfor %} 
                        {% endif %}
                    </div>
                    {% if rate %}
                    <span>Overall Rating From {{ doctor.count_rating }} Visitors</span>
                    {% endif %}
                    <div><i class="fa fa-map-marker text-info" aria-hidden="true"></i> {{ doctor.clinic_address }}</div>
                    <div><i class="fa fa-phone text-info" aria-hidden="true"></i><span class="text-info"></span> {{ doctor.phone }}</div>
                </div>
            </div>
            <div class="row">
                <div class="card rounded m-4 px-3 col-md">
                    <div class="card-body row">
                        <div>
                            <i class="fa fa-info text-info"></i>&nbsp;<strong class="text-secondary"> About the doctor : </strong> 
                            {{ doctor.bio }}
                        </div>
                    </div>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="row">
                <div class="card rounded m-4 px-3 col-md">
                    <div class="card-body row">
                            <span><i class="fa fa-star text-info"></i><strong class="text-secondary"> Review: </strong> &nbsp;&nbsp;
                                <div class="star-rating">
                                    <form action={% url 'rate_doctor' doctor.id %} id="rate_form" method="POST">
                                        {% csrf_token %}
                                        {% for i in '54321'%}
                                        <input id="star-{{i}}" type="radio" name="rate" value="{{i}}"
                                        {% if i|add:0 == user_rate %} checked {% endif %}/>
                                        <label for="star-{{i}}" title="{{i}} star">
                                          <i class="active fa fa-star" aria-hidden="true"></i>
                                        </label>
                                        {% endfor%}
                                        <input id="star-0" type="radio" name="rate" value="0" />
                                        <label for="star-0" title="0 star">
                                          <i class="active fa fa-star vs" aria-hidden="true"></i>
                                        </label>  
                                    </form>
                                </div>
                            </span>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if comments %}
            <div class="row">
                <div class="card rounded m-4 px-3 col-md">
                    <div class="card-body">
                        <div>
                            <i class="fa fa-comments text-info"></i><strong class="text-secondary"> Patients Reviews: </strong> 
                        </div>
                        <hr>
                        {% for comment in comments %}
                        <div class="row">
                            <div class="col-9"> 
                                <div class= "text-secondary">
                                    {{ comment.user.first_name| title }}&nbsp;{{ comment.user.last_name| title }}
                                </div>
                                <div>{{ comment.context }}</div>
                                <div class="text-secondary">{{ comment.updated_at|default_if_none:comment.created_at }}</div>
                            </div>
                            {%if user.id == comment.user_id %}
                                <div>
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editComment" data-action="{% url 'edit_comment' comment.id %}"
                                    data-message="{{ comment.context }}" data-header="Edit Comment" data-button="save changes"><i  class="fa fa-edit"></i></button>

                                    <a type="button" class="btn btn-danger confirm-delete" href="{% url 'remove_comment' comment.id %}">
                                    <i class="fa fa-trash"></i></a>
                                    
                                </div>
                            {%endif%}
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}  
            {% if user.is_authenticated %}
                <div class="card rounded mt-4">
                    <div class="card-header text-white bg-dark">
                        <h5 class="p-2">Leave your comment</h5>
                    </div>
                    <div class="card-body">
                        <form action={% url 'add_comment' doctor.id %} method="POST" class="form-inline">
                            {% csrf_token %}
                            <textarea name="context" rows="3"  cols="150" class="form-control m-3" placeholder="Your Comment..."></textarea>
                            <button class="btn btn-info m-3" type="submit">Add comment</button>
                        </form>
                    </div>
                </div>
                <div class="card rounded" style="margin-top:4em;font-size: 20px;">
                        <div class="card-body row ml-2">
                            If you have any ploblem, please tell us and don't worry only admins read it
                        </div>
                        <hr>
                        <div class="card ml-4 mr-4 mb-4">
                            <div class="card-header text-white bg-danger">
                                <h5 class="p-2">Leave your complain</h5>
                            </div>
                            <div class="card-body">
                                <form action={% url 'add_complain' doctor.id %} method="POST" class="form-inline">
                                    {% csrf_token %}
                                    <textarea name="contain" rows="3"  cols="150" class="form-control m-3" placeholder="Your Complain..."></textarea>
                                <button class="btn btn-danger mt-3" type="submit">Send complain</button>
                            </form>
                            </div>
                        </div>
                </div>
            {% endif %}
                <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="header"></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form  method="POST" id="form" action="">
                        <div class="form-group">
                          <label for="comment" class="col-form-label" id="text_label"></label>
                          <textarea class="form-control" id="comment" name="context"></textarea>
                          {% csrf_token %}
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-info" id="submit_button" form="form"></button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card rounded px-3">
                <div class="card-body row">
                    <div class="text-secondary">
                        <i class="fa fa-calendar text-info"></i> &nbsp;
                        <strong>Booking information</strong>
                    </div>
                </div>
                <hr>
                <div class="card-body row">
                    <div class="row">
                        <div class="col-sm">
                            <i class="fa fa-money text-info" aria-hidden="true"></i><br>
                            <span class="text-secondary"> Fees:</span> {{doctor.fees }} EGP
                        </div>
                        <div class="col-md">
                            <i class="fas fa-clock text-info"></i><br>
                            <span class="text-secondary">WaitingTime:</span>{{ doctor.waiting_time }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="card-body row">
                    <a href="/doctors/doctor/{{ doctor.id }}/appointment" class="btn btn-primary btn-block">Book Appointment</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static '/javascript/doctorBtns.js' %}"></script>
    <script type="text/javascript" src="{% static '/javascript/rating.js' %}"></script>

{% endblock %}