{% extends 'base.html' %}
{% load static %}

{% block title %} Profile {% endblock %}
{% block styles %}

    <style>
        .pos {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        }

        .img-pos {
        margin: 0;
        position: absolute;
        bottom: 5%;
        right:5%;
        }
    </style>

{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="form-group alert alert-success" role="alert">
        {% else %}
            <div class="form-group alert alert-danger" role="alert">
        {% endif %}
            <div>
                {{message}}
            </div>
        </div>
    {% endfor %}
{% endif %}


<h5 class="mt-5 ml-4"><i class="fa fa-edit text-danger"></i>&nbsp;Change Your Password :</h5>
<div class="container">
    <div class="container">
        <div class="container">
            <div class="pos">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <img src="{% static 'images/pass.jpg' %}" class="img-pos" width="270" height="270px"/>
    </div>

</div>
{% endblock %}
 
{% block footer %}
    <script>
        $( "label" ).addClass( "text-secondary mt-3" );
        $( "input" ).addClass( "form-control mb-2" );
        $( "button" ).addClass( "btn btn-info mt-3" );
        $( "ul" ).addClass( "small my-1 pt-0" );
        $( "br" ).remove();
        $( ".errorlist" ).addClass( "text-danger" );

    </script>
{% endblock %} 
