{% extends 'hospital_base.html' %}
{% block title %} Personal informations {% endblock %}
{% block styles %}
<style>
    .container{
        font-size:large;
    }
</style>
{% endblock %}
{% block content %}

    <div class="container">
        {% if messages %}
            <div class="form-group alert alert-success mt-2" role="alert">
                {% for message in messages %}
                    <div>
                        <strong>{{message}} </strong> 
                    </div>
                {% endfor %}
            </div>
        {%endif%}


        <div class="mt-4 ml-2">
            <div style="text-align: center;">
                <h2> Your profile</h2>
                <p>Add information about yourself</p>
            </div>
                <h4 class="mt-4 mb-4">
                    WELCOME MR/MS: {{ request.user.first_name|title |add:" "|add:request.user.last_name|title  }}
                    <a href="/change-password" class="float-right btn btn-danger px-2 pb-0"><p style="font-size: larger; margin-bottom: 6px;">change password</p></a>
                </h4>
                <hr/>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First Name</label>
                            {{form.first_name}}
                        </div> 
                        <div class="col form-group">
                            <label>Last Name</label>
                            {{form.last_name}}
                        </div> 
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>User Name</label>
                            {{form.username}}
                        </div> 
                        <div class="col form-group">
                            <label>Email</label>
                            {{form.email}}
                        </div> 
                    </div>
                    <div class="form-row">
                        <label>Gender</label>
                        {% for radio in form.gender %}
                        <div class="col form-group">
                            <span style="margin-left:20px ;"> {{ radio.tag }}</span>
                            </span>{{ radio.choice_label }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label>Birth date</label>
                        {{form.birthdate}}
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>City</label>
                            {{ form.city}}
                        </div> 
                        <div class="col form-group mb-4">
                            <label>Phone</label>
                            {{form.phone}}
                        </div> 
                    </div>
                    <small class="form-text text-muted mb-3">Note: This is update your personal account information, not your hospital information.</small>
                
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-block"> Edit Your Profile  </button>
                    </div>   
                </form>

                    {% if form.errors %}
                    <div class="form-group alert alert-danger" role="alert">
                        {% for field in form %}
                        {% for error in field.errors %}
                            <div>
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                    {%endif%}
                </div>
            </div>
{% endblock %}
